{% extends "base.html" %}
{% load cdn_helper %}


{% block content %}
<div class="row">
	<div class="cell position-0 width-16">
<h2>manage events</h2>
<p>Or, <a href="{% url add-event %}">add one</a></p>


	</div>
</div>

<div class="row">
	<div class="cell position-0 width-8">
		
		{% for event in future_events   %}
		{% ifequal forloop.counter 1 %}
		<h3>Approved Events</h3>
		<ul>
		{% endifequal %}
		
			{% include "events/one_event.html" %}
	
		{% ifequal user.userlevel 10 %}
		{% include "events/edit_form.html" %}
		{% endifequal %}
		
		{% if forloop.last  %}
		</ul>
		{% endif %}
		{% endfor %}
		
		
	</div>
	<div class="cell position-8 width-8">
		<div class="formcopy">

		</div>
	</div>

</div>

<div class="row controls">
	
</div>
{% endblock %}
