{% extends "base.html" %}
{% load cdn_helper %}
{% load event_tags %}
{% load utility %}
{% load cache %}

{% load humanize %}

{% block headextra %}

{% if site.google_site_verification %}
<meta name="google-site-verification" content="{{site.google_site_verification}}" />
{% endif %}


{% endblock %}

{% block subtitle %}Front Page{% endblock %}


{% block content %}
<div id="positioner">
		
	<div class="row">
		<div class="cell position-0 width-10" id="events">
			
		
			<div id="thisweek">
			
			{% for event in upcoming %}

			{% ifchanged event.local_start.date %}<h2>{{event.local_start.date|naturalday:"D n/j"  }}</h2> {% endifchanged %}
			{% include "events/one_event.html" %}

			{% endfor %}


			</div>


		
		</div>

		<div class="cell position-10 width-6" id="sidebar">
			
			{% include "eventsite/sidebar.html" %}
		
	</div>
	
	

</div>
{% endblock %}


{% block endcode %}


{% endblock %}

