
	<div>

</div>

	<div>
	
			
		<h2>Subscribe to {{site.name}}</h2>
		<form method="post" action="/subscriptions/new/">
		<input id="id_email" type="text" name="email" maxlength="255" placeholder="you@whatever.com">
		<input type="Submit" value="Subscribe"/>
		</form>
	
	</div>
	<div id="ical">Or, get the <a href="webcal://{{site.host}}/ical">iCal</a>
	or <a href="/thisweek.xml">RSS feed</a>
	</div>




	{% if links %}
	<div>
	
	<h2>Community Links</h2>
	<ul id="links">
	{% for link in links %}
	<li><a href="{{link.href}}">{{link.name}}</a></li>
	{% endfor %}
	(<a href="/links/add" id="addlink">Submit a link</a>)
	</div>
	{% endif %}
	
</div>

